{% extends 'UserBundle::layout.html.twig' %}
{% block body %}

	<div class="col-md-4 col-md-offset-4 teamlist">
		<h3>Classement des Equipes</h3>	
		<ol>
			{% for team in teams %}
				<li>{{ team.name }} {{ team.score }}</li>
			{% endfor %}
		</ol>
	</div>
	<div class="col-md-2 col-md-offset-5">
		<a href="{{ path('user_map') }}" class="btn btn-default btn-retour">retour à la carte</a>
	</div>
{% endblock %}